[Unit]
Description=openHAB Command Proxy
Requires=openhab.service
After=openhab.service
BindsTo=openhab.service
PartOf=openhab.service

[Service]
Type=simple
User=<user>
Group=<user>
UMask=002
WorkingDirectory=/home/<user>
ExecStart=/usr/bin/python3 /home/<user>/openhab_command_proxy.py
Restart=on-failure
RestartSec=30s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=openhab-command-proxy

[Install]
WantedBy=openhab.service
